// info: when editing these values, 
// info: don't forget to change the TypeScript file as well !

$primary-700: hsl(225, 90%, 55%);
$primary-100: hsl(225, 90%, 5%);

$secondary-700: hsl(80, 90%, 55%);

$neutral-900: white;
$neutral-700: #dcdcdc;
$neutral-300: #333;
$neutral-100: #0d0d0d;
