$bp-mobile: 600px;
$bp-tablet: 900px;
// 1112px = 1080px (max layout width) + 2 * 16px (default gutter width)
$bp-desktop: 1112px; 

@mixin desktop-only {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: 600px) and (max-width: 899px) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin no-desktop {
    @media (max-width: 899px) {
        @content;
    }
}

@mixin no-mobile {
    @media (min-width: 600px) {
        @content;
    }
}

// no need for a "no-tablet" mixin

@mixin supports-clip-path {
    // in most cases we're using clip-path with polygon function
    // so it makes sense to check clip-path's support with it as the value
    // and the parameters given are random
    @supports (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)) {
        @content;
    }
}

@mixin supports-advanced-viewport-units {
    @supports (min-height: 100svh) {
        @content;
    }
}
