.contact {
    background-color: var(--clr-primary-500);
    color: #000;

    &__box {
        padding: 1em;
        
        background-color: rgba(white, 10%);
        margin-top: 2em;

        display: flex;
        flex-direction: column;
    }

    & a {
        color: inherit;
        display: inline-block;
        font-size: 1.1em;
    }

    & p {
        margin: 0;
        margin-top: 1em;
    }
}