.contact {
    background-color: var(--clr-primary-500);
    color: #000;

    & a {
        background-color: rgba(0, 0, 0, 20%);
        color: var(--clr-neutral-100);
        
        display: inline-block;
        padding: .1em .2em;
    }
}