@use "./media" as media;

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    line-height: 100%;
}

button {
    background-color: var(--clr-primary-500);
    border: 0;
    padding: .3em 1em;

    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4rem;
    letter-spacing: .05em;
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

button:focus-visible {
    outline: 2px solid var(--clr-primary-500);
    outline-offset: 2px;
}

button:disabled {
    filter: brightness(40%);
    color: unset;
    pointer-events: none;
    user-select: none;
}

p {
    line-height: 150%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

section {
    padding: 3rem 0;

    @include media.for-desktop {
        padding: 7rem 0;
    }
}