.hue-slider {
    background-color: black;
    color: white;
    padding: 1em 0;

    & > .container {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    }
}

.hue-slider p {
    margin: 0;
}

$dot-size: 15px;

// designates the whole input
.hue-slider__input {
    margin: 0;
    padding: 0;
    width: 100%;

    background: transparent;
}

// WEBKIT
.hue-slider__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;

    cursor: pointer;
    background-color: white;
}

.hue-slider__input::-webkit-slider-thumb {
    height: $dot-size;
    width: $dot-size;

    border-radius: calc($dot-size * 2);

    cursor: pointer;

    // background-color: white; <-- this line does not seem to work
    // so I'm getting around the problem using the outline
    outline: calc($dot-size / 2 + 1px) solid white;
    outline-offset: calc($dot-size / -2 - 1px);

    margin-top: calc($dot-size / -2);
}

// MOZILLA
.hue-slider__input::-moz-range-track {
    width: 100%;
    height: 1px;

    background: #ffffff;
    cursor: pointer;
}
.hue-slider__input::-moz-range-thumb {
    height: $dot-size;
    width: $dot-size;
    border-radius: calc($dot-size * 2);
    border: none;

    background: white;
    cursor: pointer;
}
