.story {
    &__content {
        margin-top: 2rem;

        columns: 25ch;
        gap: 2em;

        text-align: justify;
    }

    &__p {
        margin-bottom: 0;
    }

    &__p:first-child {
        margin-top: 0;
    }
}