@use "../media" as media;
@use "../color" as clr;

.landing-page {
    background-color: clr.$primary-100;
    color: clr.$neutral-700;

    min-height: max(38em, 100vh);

    @include media.supports-advanced-viewport-units {
        min-height: max(38em, 100svh);
    }
}

.landing-page__title {
    position: relative;

    font-size: clamp(2.5rem, 6.5vw, 4rem);
    color: clr.$neutral-900;

    @include media.no-mobile {
        min-width: calc(100% + 5ch);
    }

    padding-left: var(--base-spacing);
    margin-top: calc(3 * var(--base-spacing));
    margin-bottom: var(--base-spacing);

    &::before {
        content: "";

        position: absolute;
        left: 0;
        top: 50%;
        translate: 0 -50%;

        height: 80%;
        width: 1px;

        background-color: currentColor;
    }
}

.landing-page__paragraph {
    // font-family: "Cascadia Code", "Consolas", monospace;
    font-size: 1.4rem;

    padding: 0 var(--base-spacing);
    margin-bottom: calc(2 * var(--base-spacing));

    @include media.mobile-only {
        margin-right: 3rem;
    }
}

.landing-page__scroll-indicator {
    display: inline-flex;
    align-items: center;
    gap: var(--base-spacing);

    margin-left: var(--base-spacing);
    padding: var(--base-spacing);
    background-color: rgba(clr.$neutral-300, 0.2);
    border-radius: 1em;

    color: clr.$primary-700;
    font-size: 1.2rem;

    &::before {
        content: "";

        border: 0.4em solid transparent;
        border-top-color: currentColor;

        animation: up-and-down 700ms infinite alternate ease-in-out;
        @keyframes up-and-down {
            from {
                translate: 0 -40%;
            }
            to {
                translate: 0 60%;
            }
        }
    }
}

.landing-page__animation {
    bottom: 0;
    height: 100%;
}

.landing-page__canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}
