@use "../media" as media;
@use "../color" as clr;

.landing-page {
    background-color: clr.$primary-100;
    color: clr.$neutral-700;

    min-height: 100vh;

    @include media.mobile-only {
        min-height: calc(100vh);
    }
}

.landing-page__title {
    font-size: clamp(2.5rem, 6.5vw, 4rem);
    color: clr.$neutral-900;

    @include media.no-mobile {
        min-width: calc(100% + 5ch);
    }

    padding-left: var(--base-spacing);
    margin-top: calc(3 * var(--base-spacing));
    margin-bottom: var(--base-spacing);
}

.landing-page__paragraph {
    font-family: "Cascadia Code", "Consolas", monospace;
    font-size: 1.5rem;

    padding: 0 var(--base-spacing);

    @include media.mobile-only {
        padding-right: 3rem;
    }
}

.landing-page__animation {
    bottom: 0;
    height: 100%;
}

.landing-page__canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}
