@use "../color" as clr;
@use "../media" as media;

.projects {
    background-color: clr.$neutral-100;
    color: clr.$neutral-700;
}

.projects .section__layout {
    padding: calc(4 * var(--base-spacing)) 0;
}

.projects__title {
    font-size: clamp(2rem, 5vw, 3.3rem);
    color: clr.$neutral-900;

    padding-left: var(--base-spacing);
    margin-bottom: calc(3 * var(--base-spacing));
}

$project-border-radius: 0.5em;

.projects__grid {
    display: grid;
    gap: var(--base-spacing);

    list-style: none;
    padding: 0 var(--base-spacing);

    @include media.no-mobile {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    @include media.desktop-only {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

.projects__grid-item {
    display: flex;
}

.projects__grid-item--decoration {
    display: grid;
    place-items: center;

    @include media.mobile-only {
        // there's not enough room for them on mobile
        display: none;
    }

    &:first-child {
        grid-row: 1 / 2;
        grid-column: -2 / -1;
    }
    &:nth-child(2) {
        grid-row: -1 / -2;
        grid-column: 1 / 2;
    }
}

.projects__light-bulb {
    --size: 5em;
    width: var(--size);
    height: var(--size);

    border-radius: $project-border-radius;
    background-color: rgba(clr.$neutral-900, 0.8);
    box-shadow: 0 0 7.5em rgba(clr.$neutral-900, 0.4);
}

.projects__project {
    flex-grow: 1;

    border: 1px solid clr.$neutral-700;
    border-radius: $project-border-radius;

    & > * {
        padding: var(--base-spacing);
    }
}

.projects__project__header {
    background-color: rgba(clr.$neutral-900, 0.05);
}

.projects__project__title {
    font-size: 1.15rem;
    color: clr.$neutral-900;
}

.projects__project__description {
    margin-bottom: var(--base-spacing);
}

.projects__project__technology {
    display: flex;
    align-items: center;
    gap: 0.5em;

    font-size: 0.9rem;
    font-family: "Cascadia Code", "Consolas", monospace;
}

.projects__project__technology-hint {
    display: block;

    border-radius: 50%;
    border: 2px solid clr.$neutral-700;

    width: 1em;
    height: 1em;
    aspect-ratio: 1 / 1;
}

.projects__project__technology-hint--html-css {
    background-color: hsl(10, 90%, 55%);
}

.projects__project__technology-hint--java {
    background-color: hsl(25, 90%, 55%);
}

.projects__project__technology-hint--javascript {
    background-color: hsl(60, 80%, 40%);
}

.projects__project__technology-hint--typescript {
    background-color: hsl(225, 90%, 55%);
}

.projects__project__time {
    font-size: 0.9rem;
    color: clr.$neutral-500;
}

.projects__project__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;

    margin-top: calc(var(--base-spacing) * 2);
}

.projects__project__link {
    display: flex;
    align-items: center;

    max-width: max-content;

    gap: calc(var(--base-spacing) * 0.5);

    padding: calc(var(--base-spacing) * 0.5);
    border: 1px solid transparent;
    border-radius: 1em;

    text-decoration: none;
    color: inherit;

    &::after {
        content: "";

        border: 0.4em solid transparent;
        border-left-color: currentColor;
    }
}

.projects__project__link:first-child {
    background-color: rgba(clr.$neutral-300, 0.4);
    color: clr.$primary-700;
}

.projects__project__link:hover {
    background-color: rgba(clr.$neutral-300, .4);
}

.projects__project__link:focus-visible {
    border: 1px solid clr.$neutral-900;
    outline: none;
}

.projects__project__link:is(:hover, :focus-visible) {
    color: clr.$secondary-700;
}
