@use "../color" as clr;
@use "../media" as media;
@use "../utils" as utils;

$section-transition-height: calc(8 * var(--base-spacing));

.skills {
    position: relative;

    background-color: clr.$secondary-100;
    color: clr.$neutral-700;

    @include media.supports-clip-path {
        .section__background {
            top: calc(-10 * var(--base-spacing));
            height: calc(100% + 10 * var(--base-spacing));

            clip-path: polygon(
                100% 0%,
                100% 100%,
                0% 100%,
                0% $section-transition-height
            );
        }
    }
}

.skills__section-transition {
    display: none;

    @include media.supports-clip-path {
        display: revert;

        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: -3;

        height: calc(10 * var(--base-spacing));
        width: 100%;

        background-color: clr.$secondary-100;

        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% $section-transition-height);
    }
}

.skills .section__layout {
    // at the top of the section, there is already a section transition
    // that takes up some space
    // that's why there is more space at the bottom than at the top
    padding-top: calc(4 * var(--base-spacing));
    padding-bottom: calc(8 * var(--base-spacing));
}

.skills__title {
    @include utils.section-title;

    padding-left: var(--base-spacing);
}

$max-grid-height: max(30em, 75vh);

.skills__main-content {
    padding: 0 var(--base-spacing);

    @include media.no-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--base-spacing);
        height: $max-grid-height;
    }
}

.skills__all {
    display: flex;
    flex-direction: column;

    border: 1px solid clr.$neutral-700;

    @include media.no-mobile {
        height: $max-grid-height;
    }
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--base-spacing);
    flex-grow: 1;

    overflow-y: scroll;

    list-style: none;
    padding: var(--base-spacing);

    background-color: mix(clr.$neutral-100, clr.$secondary-700, 95%);

    @include media.mobile-only {
        max-height: max(15em, 60vh);
    }
}

.skill__item {
    align-self: flex-start;

    // needs to be before the element so that the focus state overrides this rule
    &:nth-child(3n) a {
        background-color: clr.$secondary-700;
        color: clr.$neutral-100;
    }

    a {
        display: inline-block;

        background-color: clr.$neutral-300;

        padding: 0.3em 0.5em;
        border-radius: 1em;
        color: clr.$neutral-700;
        text-decoration: none;

        cursor: pointer;

        &:focus-visible {
            outline: none;
            color: clr.$neutral-100;
            background-color: clr.$primary-700;
        }
    }
}

.skills__details {
    border: 1px solid clr.$neutral-700;
    background-color: clr.$secondary-100;

    overflow-y: scroll;

    padding: calc(3 * var(--base-spacing));

    @include media.mobile-only {
        min-height: max(20em, 70vh);
    }
}

.skills__detail-click-hint {
    padding: var(--base-spacing);

    background-color: clr.$neutral-700;
    color: clr.$neutral-100;

    font-style: italic;
}

.skills__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(2 * var(--base-spacing));

    height: 100%;

    
}

.skills__detail:not([id=""]):not(:target) {
    display: none;
}
