@use "../color" as clr;
@use "../media" as media;
@use "../utils" as utils;

$section-transition-height: calc(8 * var(--base-spacing));

.skills {
    position: relative;

    background-color: clr.$secondary-100;
    color: clr.$neutral-700;

    overflow-x: hidden;

    @include media.supports-clip-path {
        .section__background {
            top: calc(-10 * var(--base-spacing));
            height: calc(100% + 10 * var(--base-spacing));

            clip-path: polygon(
                100% 0%,
                100% 100%,
                0% 100%,
                0% $section-transition-height
            );
        }
    }
}

.skills__section-transition {
    display: none;

    @include media.supports-clip-path {
        display: revert;

        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: -3;

        height: calc(10 * var(--base-spacing));
        width: 100%;

        background-color: clr.$secondary-100;

        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% $section-transition-height);
    }
}

.skills .section__layout {
    // at the top of the section, there is already a section transition
    // that takes up some space
    // that's why there is more space at the bottom than at the top
    padding-top: calc(4 * var(--base-spacing));
    padding-bottom: calc(8 * var(--base-spacing));
}

.skills__title {
    @include utils.section-title;

    padding-left: var(--base-spacing);
}

.skills__main-content {
    display: grid;

    --padding-inline: var(--base-spacing);
    grid-template-columns: repeat(2, calc(var(--layout-width) - var(--padding-inline)));
    grid-template-rows: 1fr;
    gap: var(--base-spacing);

    padding: 0 var(--padding-inline);

    transition: translate 250ms ease-in-out;

    @include media.no-mobile {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skills__main-content--translated {
    @include media.mobile-only {
        translate: calc(-1 * var(--layout-width));
    }
}

.skills__all {
    background-color: yellowgreen;
}

.skills__details {
    background-color: coral;

    min-height: 30em;
}
