@use "../media" as media;

:root {
    --column-count: 1;
    @include media.no-mobile {
        --column-count: 2;
    }
    @include media.desktop-only {
        --column-count: 4;
    }
}

.columns {
    width: 100%;
    max-width: var(--layout-width);
    
    @include media.no-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        row-gap: 8px;
    }
}
