:root {
    --layout-width: calc(100vw - 2 * var(--gutter-width))

    --gutter-width: 16px;

    @media (min-width: 1112px) {
        --layout-width: 1080px;

        --gutter-width: calc((100vw - var(--layout-width)) / 2);
    }
}
